{
  "token": "<BOT_TOKEN>",
  "guildId": "<DISCORD_SERVER_ID>",
  "atreidesRoleId": "<ROLE_ID>",
  "verifierRoleIds": [
    "<ROLE_ID>",
    "<ROLE_ID>"
  ],
  "verifyChannelId": "<CHANNEL_ID>",
  "verifyCommandChannelId": "<CHANNEL_ID>",
  "howToVerifyID": "<CHANNEL_ID>,
  "logChannelId": "<CHANNEL_ID>",
  "clientId": "<DISCORD_APP_ID>",
  "debugMode": false
}
